.top-container{
    background-color: #03C0CC
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
.header-container{
    background-color: #031347
}
.middle-img{
    max-width: 100%;
    height: auto;
}
.skillimg{
    max-width: 100%;
    min-width: 50%;
    height: auto;
}
.h2{
    font-family: Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-family:ourier, monospace;
}
.first-skill{
   
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2.4rem;
}
.parent{
    display:grid;
    grid-template-columns:0.5fr 1fr;
    grid-template-rows:repeat(1, 1fr) ;
    text-align: left;
    width:50%;
    margin:100px auto 0px;
    row-gap: 20px;
}
.contact-container{
    margin-top: 5px;
}
#sectwo{
    background-color:none;
}
#secthree{
    background-color: #F5DD61;
}
.contact-section {
    background-color:#FAA300;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  .contact-section h2 {
    margin-bottom: 10px;
  }
  .contact-section p {
    margin-bottom: 20px;
  }
  .footer{
    background-color: #03C0CC;
  }
.contact-section input,
  .contact-section textarea{
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .contact-section button {
    padding: 10px;
    background-color: #4CAF50;
    
    border: none;
    cursor: pointer;
  }
  
  .contact-section button:hover {
    background-color: #45a049;
  }
